body
{
    margin:0;
    padding:0;
    background-color: #FFF;
    font-family: Helvetica;
}

/* bloc navigation */

.banniere, .rappel
{
    padding:5rem 0;
    background-repeat:repeat,no-repeat;
    background-size:auto,cover;
    background-position: center;
    background-attachment:local,fixed;
    background-image: url(img/texture-paper.webp),url(img/la-chouette-agence-banniere.webp);    
}

nav
{
    background-color: rgba(0,0,0,0.75);
    width:70%;
    max-width: max-content;
    padding:2rem;
    margin:auto;
    border-radius: 1rem;
}

nav a
{
    text-decoration: none;
    color:inherit;
}

.logo
{
    width:5rem;
    vertical-align:-70%;
    margin-right:2rem;
}

.enseigne
{
    font-size: 2rem;
    font-weight: 600;
    color: #C84D14;
    text-align: center;
    transition: all 0.5s ease;
}

.contact, .envoyer
{
    display:block;
    font-size: 1rem;
    font-weight: 800;
    color:#FFFFFF;
    padding:1rem 2rem;
    width:min-content;
    height:min-content;
    background-color: #C84D14;
    margin:auto;
    border-radius: 2.5rem;
    transition: all 0.2s ease;
}

.contact:hover, .envoyer:hover, .enseigne:hover, .enseign:hover .logo, .social span:hover
{
    filter: brightness(70%);
}

/* bloc services */

.presentation
{
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin:3rem 17%;
}

.services
{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
}

.services__element
{
    display:grid;
    grid-template-columns: 15rem;
    grid-template-rows: 4rem 2rem auto;
    margin:1rem;
}

.services__element span/*[class^='far']*/
{
    font-size:4rem;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}

.services__element h2
{
    font-size: 1rem;
    font-weight: bolder;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
}

.services__element p
{
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}

.citation blockquote
{
    font-size: 1.5rem;
    text-align: center;
    margin:3rem 17% 0 17%;
}

.citation figcaption
{
    text-align: center;
    margin:0 17%;
}

/* bloc métier */

.metier
{
    padding:5rem 0;
    background-repeat:repeat,no-repeat;
    background-size:auto,cover;
    background-position: center;
    background-attachment:local,fixed;
    background-image: url(img/texture-paper.webp),url(img/image-metier.webp);
}

.metier__textes
{
    margin:5rem 30%;
    padding: 3rem;
    background-color: rgba(0,0,0,0.75);
    border-radius: 1rem;
}

.metier__textes h2
{
    color:#C84D14;
    text-align: center;
    margin:0 1rem;
}

.metier__textes p
{
    color:white;
    text-align: center;
    line-height: 1.5;
}

.metier__textes .contact
{
    display:block;
    margin:auto;
    text-decoration:none; 
}

/* bloc portfolio */

.portfolio
{
    background-repeat:repeat;
    background-size:5%;
    background-position: center;
    background-image: url(img/lines-h2-bg.webp);
}

.portfolio h2
{
    text-align: center;
    padding:2rem;
    margin:0;
}

.portfolio__bloc
{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}
.portfolio__bloc article
{
    display:grid;
    grid-template-columns: 20rem;
    grid-template-rows: 20rem 4rem 3rem;
    margin:1.5rem;
}

.portfolio__bloc article img
{
    grid-column: 1/2;
    grid-row: 1/2;
    width:100%;
}

.portfolio__bloc article img:hover,
.portfolio__bloc article img:focus,
.portfolio__bloc article img:hover span
{
    opacity:0.5;
}
article span
{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self:center;
    justify-self:center;
    border:none;
    border-radius: 100%;
    padding:8%;
    font-size:2rem;
    color:white;
    background-color: black;
}
.portfolio__bloc article h3
{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.portfolio__bloc article p
{
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}
#display
{
    display:grid;
    grid-template-columns: 2.5rem 55rem 2.5rem;
    grid-template-rows: auto auto auto;
    position:absolute;
    margin:auto;
    background-color:white;
    border:1px solid black;
}
#display img
{
    grid-column: 2/3;
    grid-row: 2/3;
    width:100%;
    justify-self: center;
    align-self: center;
}

#display h3
{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    padding:0;
    margin:1rem;
}

#display .fa-window-close
{
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 2rem;
    justify-self: center;
}
#display .fa-chevron-left
{
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    font-size: 3rem;
    justify-self: center;
}
#display .fa-chevron-right
{
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    font-size: 3rem;
    justify-self: center;
}

/* bloc rappel de contact */

.rappel
{
    color:#C84D14;
    text-align: center;
}

.rappel h2
{
    margin:2rem 10%;
}

.rappel a
{
    text-decoration: none;
}

/* footer */

footer
{
    background-color: #FFFFFF;
}

footer h2
{
    margin:0;
    padding:1rem;
    font-size:1.25rem;
    text-align: center;
}

.social
{
    display:flex;
    flex-flow:row wrap;
    font-size: 3.5rem;
    justify-content: center;
    /*background-color: #d18867;*/
    background-color: #FFFFFF;
}

.social a
{
    text-decoration: none;
    display: block;
    margin:2rem;
}

.fa-twitter
{
    color:#00acee;
}

.fa-facebook-f
{
    color:#3b5998;
}

.fa-dribbble
{
    color:#ea4c89
}

.fa-instagram
{
    background:linear-gradient(45deg, #405de6,#5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    color:transparent;
}

.liens
{
    display:grid;
    grid-template-columns: 10rem 26rem;
    grid-template-rows: auto auto;
    column-gap: 3rem;
    justify-content: center;
}

.liens h3:nth-last-of-type(1)
{
    grid-column: 2/3;
    grid-row: 1/2;
}

.liens h3:nth-last-of-type(2)
{
    grid-column: 1/2;
    grid-row: 1/2;
}

.liste
{
    display:flex;
    flex-flow:column wrap;
    column-gap: 2rem;
    height: 12rem;
}

.liste:nth-last-of-type(1)
{
    grid-column: 2/3;
    grid-row: 2/3;
}

.liste:nth-last-of-type(2)
{
    grid-column: 1/2;
    grid-row: 2/3;
}

.liste a
{
    text-decoration: none;
    color:black;
    line-height: 1.25;
}

.liste a:hover
{
    text-decoration: underline;
}


/* page contact */

.invitation
{
    text-align: center;
}

#formulaire
{
    text-align: center;
}

.formulaire__ligne
{
    line-height: 2;
    padding:0 15%;
}
.formulaire__ligne input, textarea
{
    font-size: 1.5rem;
    width: 70%;
}

.envoyer
{
    border:none;
}

address
{
    text-align: center;
    margin:2rem auto;
    font-style: normal;
}

/* Responsive */
@media screen and (max-width:769px)
{
    .banniere
    {
        background-image: auto,url(img/la-chouette-agence-banniere-769.webp); 
    }
    .metier
    {
        background-image: auto,url(img/image-metier-769.webp);
    }
    .portfolio__bloc article
    {
        margin:2rem auto;
    }
    .metier__textes
    {
        margin:5rem 1rem;
    }
    #display
    {
        grid-template-columns: 4vw 88vw 4vw;
    }
    #display .fa-window-close
    {
        font-size:1.25rem;
    }
    #display .fa-chevron-left, #display .fa-chevron-right
    {
        font-size:1.5rem;
    }
    footer
    {
        height: auto;
        padding-bottom:1.5rem;
    }
    .liens
    {
        grid-template-columns: auto;
        grid-template-rows: 3rem auto 3rem auto;
    }
    .liens h3:nth-last-of-type(1) /* annuaires titre*/
    {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .liste:nth-last-of-type(1) /* annuaire liste */
    {
        grid-column: 1/2;
        grid-row: 4/5;
        height: auto;
    }
    .liens h3:nth-last-of-type(2) /* partenaires titre */
    {
        grid-column: 1/2;
        grid-row: 1/2;
    }    
    .liste:nth-last-of-type(2) /* partenaires liste */
    {
        grid-column: 1/2;
        grid-row: 2/3;
        height: auto;
    }
}

@media screen and (min-width:769px) and (max-width:991px)
{
    .banniere
    {
        background-image: auto,url(img/la-chouette-agence-banniere-991.webp); 
    }
    .metier
    {
        background-image: auto,url(img/image-metier-991.webp);
    }
    .metier__textes
    {
        margin:5rem 1rem;
    }
    #display
    {
        grid-template-columns: 4vw 88vw 4vw;
    }
}

@media screen and (min-width:991px)
{

}